投稿でDB保存できるところまで。
できたらhaml、scssにする。
ログインしたときのみにする。
微調整
デプロイ

<%= form_with model: @posts do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :name %>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
    <%= form.submit "Create" %>
  </div>
<% end %>