ログインしたときのみにする。
微調整
デプロイ
= form_with model: @posts do |form|
  .field
    = form.label :title
    = form.text_area :title
    = form.label :image
    = form.file_field :media
    = form.label :content
    = form.rich_text_area :content
    = form.submit "Create"
    
