!!!
%html
  %head
    = stylesheet_link_tag "index"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title AnyTopicsJapan
  %body
    .container
      .header
        = render partial: 'layouts/header'
      .main_content
        .main_blog
          - @blog.each do |blog|
            .main_blog_container
              .main_blog_container_header
                .main_blog_container_header_title_city_time_wrapper
                  .main_blog_container_header_title_city_time_wrapper_title
                    = blog.title
                  .main_blog_container_header_city_time_wrapper   
                    .main_blog_container_header_city_time_wrapper_city
                      = blog.pref_name
                    .main_blog_container_header_city_time_wrapper_time
                      = blog.created_at.strftime("%B %d, %Y")
                .main_blog_container_header_image  
                  = image_tag blog.media.to_s unless blog.media.blank?
              .main_blog_container_content
                %p
                  = simple_format(truncate(blog.content.to_plain_text, length:200))
                .main_blog_container_content_button
                  %p
                    %a{href: 'blog/' + blog.id.to_s}
                      Read More
              .main_blog_footer_content
                .main_blog_footer_content_tweet
                  = fa_icon "twitter 3x"
                .main_blog_footer_content_like
                  = blog.likes.count
                  likes
                .main_blog_footer_content_comment
                  = blog.comments.count
                  comments
          = paginate @blog
        .main_blog_mobile
          - @blog.each do |blog|
            .main_blog_mobile_container
              .main_blog_mobile_container_header
                .main_blog_mobile_container_header_image  
                  %a{href: 'blog/' + blog.id.to_s}
                    = image_tag blog.media.to_s unless blog.media.blank?
                .main_blog_mobile_container_header_title_city_time_wrapper
                  .main_blog_mobile_container_header_city_time_wrapper   
                    .main_blog_mobile_container_header_city_time_wrapper_time
                      = blog.created_at.strftime("%B %d, %Y")
                    .main_blog_mobile_container_header_city_time_wrapper_city
                      ,
                      = blog.pref_name  
                  .main_blog_mobile_container_header_title_city_time_wrapper_title
                    %a{href: 'blog/' + blog.id.to_s}
                      = blog.title
              .main_blog_mobile_footer_content
                .main_blog_mobile_footer_content_like
                  = blog.likes.count
                  likes
                .main_blog_mobile_footer_content_comment
                  = blog.comments.count
                  comments  
          = paginate @blog
        .sub_info
          .sub_info_self_introduction
            .sub_info_self_introduction_title
              %p
                Author
            .sub_info_self_introduction_image
              = image_tag "utcXEvni_400x400.jpg"
            %p#name
              You-Ichi
            %p#explanation1
              Freelance Developer
            %p#explanation2
              &  
            %p#explanation3
              Sales Representative
            %p#explanation4
              &
            %p#explanation5
              Coffee Lover!  
          .sub_info_popular_blog
            %p.sub_info_popular_blog_title
              Popular Article
              - @p_blog.each do |p_blog|
                %ul.sub_info_popular_blog_list
                  %li.sub_info_popular_blog_list_title
                    = p_blog.title
                  %li.sub_info_popular_blog_list_image
                    = image_tag p_blog.media.to_s unless p_blog.media.blank?
          .sub_info_category
            %p#category_title
              All Category
              %ul
                - @category.uniq.each do |c|
                  %li
                    %a{href: 'category/' + c}
                      = fa_icon "chevron-right"
                      = c
    .footer
      = render partial: 'layouts/footer'
    
    