.container
  .header
    = render partial: 'layouts/header'
  .mobile_content
    .mobile_image
      =image_tag @posts[0].image
    %ul.mobile_post
      %li.mobile_post_list_left
        .image
          = image_tag @posts[0].image
        .date
          = @posts[0].created_at.strftime("%B %d, %Y")
        .title
          = @posts[0].title
      %li.mobile_post_list_right
        .image
          = image_tag @posts[1].image
        .date
          = @posts[1].created_at.strftime("%B %d, %Y")
        .title
          = @posts[1].title
  .top_title
    We can share anything about Japan
  .sub_title
    Realtime Post
  %hr.line1  
  .main_image
    - @posts.each do |post|
      = link_to '#' + post.id.to_s, class:"post-image" do
        .image
          =image_tag post.image unless post.image.blank?
        .title
          %h1
            =post.title
  .main_title
    Latest Blog
  %hr.line2
  .posts#post_setion
    - @blogs.each do |blog|
      = link_to 'blog/' + blog.id.to_s, class:"post-card" do
        .image
          =image_tag blog.media unless blog.media.blank? 
        .title
          %h2
            =blog.title
        .date
          %h3
            =blog.created_at.strftime("%B %d, %Y")
        .body-trunc
          %p
            -exPost = blog.content.to_plain_text.index("[")
            -if exPost==nil
              -exPost = blog.content.to_plain_text.length
            =blog.content.to_plain_text.slice(0,exPost) + "..."
  .footer
    = render partial: 'layouts/footer'

