!!!
%html
  %head
    = stylesheet_link_tag "open"
    = javascript_pack_tag 'open', 'data-turbolinks-track': 'reload'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .header
      = render partial: 'layouts/header'
    .content
      .content_title
        =@blogs.title
      .content_date
        =@blogs.created_at.strftime("%B %d, %Y")
      .content_image
        =image_tag @blogs.media unless @blogs.media.blank?
      .content_body 
        =@blogs.content
      .content_footer
        .content_footer_like
          #content_footer_like_flag
            = @flag
          #content_footer_like_button
            = fa_icon "heart-o 2x"
        .content_footer_twitter
          = fa_icon "twitter 2x"
      - if user_signed_in?
        .content_edit
          .content_edit_edit
            =link_to 'Edit', '/blog/' + params[:id] + '/draft/edit', method: :get
          .content_edit_delete
            =link_to 'Delete', '/blog/' + params[:id] + '/destroy', method: :delete
    .footer
      = render partial: 'layouts/footer'

