!!!
%html
  %head
    - stylesheet_link_tag "open"
    - javascript_pack_tag 'open', 'data-turbolinks-track': 'reload'
    //= javascript_pack_tag 'rotate', 'data-turbolinks-track': 'reload'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    - set_meta_tags title: @blogs.title , description: @blogs.content.to_s.gsub(/\r\n|\r|\n|\s|\t/, ""), twitter:{image: image_url(@blogs.media)}
  %body
    .header
      = render partial: 'layouts/header'
    .content
      .content_mobile_image
        =image_tag @blogs.media.to_s unless @blogs.media.blank?
      .content_title
        =@blogs.title
      .content_date
        =@blogs.created_at.strftime("%B %d, %Y")
      .content_city
        =@blogs.pref_name
      .content_image{id: 'header_img'}
        =image_tag @blogs.media.to_s unless @blogs.media.blank?
      .content_body 
        =@blogs.content
      .content_footer
        .content_footer_like
          #content_footer_like_flag
            = @flag
          #content_footer_like_button
            = fa_icon "heart-o 2x"
        .content_footer_twitter
          = link_to "https://twitter.com/intent/tweet?text=#{@blogs.title}%0A#{request.url}%0A&hashtags=AnyTopicsJapan", class: 'btn btn-default', target: '_blank' do
            = fa_icon "twitter 2x"
      - if @comment.count != 0
        .comment_show_form
          %p.comment_show_form_title
            Comments
            - @comment.each do |c|
              %ul
                %p.comment_show_form_name
                  = c.name
                %p.comment_show_form_date
                  = c.created_at.strftime("%B %d, %Y" +" at " + "%H" + ":" + "%M")
                %p.comment_show_form_content
                  = safe_join(c.content.split("\n"),tag(:br))
                - if user_signed_in?  
                  .comment_show_form_delete
                    = link_to 'Delete', '/blog/' + params[:id] + "/" + c.id.to_s + '/comment', method: :delete
      - if user_signed_in?
        .content_edit
          .content_edit_edit
            =link_to 'Edit', '/blog/' + params[:id] + '/draft/edit', method: :get
          .content_edit_delete
            =link_to 'Delete', '/blog/' + params[:id] + '/destroy', method: :delete
    .comment_post_form
      %p.comment_post_form_title
        Add a Comment
      %ul
        = form_with url:'/blog/' + params[:id] + '/comment', method:'post' do |form|
          = form.hidden_field :url, value: params[:id]
          %li
            = form.text_area :name, placeholder: "Name"
          %li
            = form.text_area :content, placeholder: "Comment"
          %li  
            = form.submit "Post Comment"
    .footer#footer_wrapper
      = render partial: 'layouts/footer'

