.wrapper
  .header
    = render partial: 'layouts/header'
  .content
    .post_area
      .post_title
        %p
          Post Any Images about Japan!
        %p
          ↓ 
      .post_image_form_area
        = form_with model: @post ,local:true do |form|
          .field
            = render 'layouts/new', model: @post
            = form.label :"comment(under 10 characters)"
            .br
            = form.text_field :title, maxlength: 10
            .br
            = form.label :image
            .br
            = form.file_field :image
            .br
            = form.submit "Post"
    .image_area
      - @image.each do |i|
        =image_tag i.image ,size: "350x200" unless i.image.blank?
      .image_area_comment  
        - @image.each do |i|
          .image_area_comment_title
            %span#title
              =i.title
  .footer#footer_wrapper
    = render partial: 'layouts/footer'
