.wrapper
  .header
    = render partial: 'layouts/header'
  .content
    = form_with model: @posts do |form|
      .field
        = form.label :title
        = form.text_area :title
        = form.label :image
        = form.file_field :image
        = form.submit "Create"
    