.header_main
.header_menu
  %ul.main_title
    %a{href: "/"}
      AnyTopicsJapan
  %ul.topics
    %li.all
      = link_to 'All', '/blog'
    %li.coffee
      = link_to 'Coffee','/category/coffee' 
    %li.food
      = link_to 'Food','/category/food' 
    %li.city
      %a
        City
        %ul.topics_second
          - @pref.each do |p|
            %li
              %a{href: "/city/" + p}
                =p
    %li.contact
      %a{href: "#"}
        contact 
  %ul.auth_menu
    %li
      =link_to 'Draft', "/draft_open", method: :get if user_signed_in?        
    %li
      =link_to 'SignOut', "/users/sign_out", method: :delete if user_signed_in?
  %ul.mobile_header_content
    %label{for: "chk_box", id: 'menu_icon'}
      %span
    %input{type: "checkbox", id:"chk_box"}
    .mobile_header_menu
      %ul.mobile_header_menu_wrapper
        %li.mobile_header_menu_wrapper_all
          = link_to 'All', '/blog'
        %li.mobile_header_menu_wrapper_coffee
          = link_to 'Coffee','/category/coffee' 
        %li.mobile_header_menu_wrapper_food
          = link_to 'Food','/category/food' 
        %li.mobile_header_menu_wrapper_city
          %a
            City
            %ul
              - @pref.each do |p|
                %li
                  %a{href: "/city/" + p}
                    =p
        %li.mobile_header_menu_wrapper_contact
          %a{href: "#"}
            contact
            